{% extends 'base.html' %}
{% block title %}Instrucțiuni pentru utilizarea aplicației Legal Advice{% endblock %}
{% block content %}
    <h3>Creează instrucțiuni</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Creează instrucțiuni</button>
    </form>
{% endblock %}