{% extends 'base.html' %}
{% block title %}Creează descrierea avocatului{% endblock %}
{% block content %}
    <h3>Creează descrierea</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Creează descrierea</button>
    </form>
{% endblock %}