{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="card text-center">
        <div class="card-header">
        </div>
        <div class="card-body">
            <h5 class="card-title">Ce trebuie să faci</h5>
            <p class="card-text">
                {% for instructiuni in all_app %}
                    {{ instructiuni.instructiuni }}
                {% endfor %}
            </p>
            <a href="{% url 'list-despre' %}" class="btn btn-info">Înapoi la descriere</a>
            {% if request.user.is_superuser %}
                {% for instructiuni in all_app %}
                    <a href="{% url 'update-app' instructiuni.id %}" class="btn btn-success">Update</a>
                {% endfor %}
            {% endif %}
        </div>
        <div class=" card-footer text-muted">
        </div>
    </div>
{% endblock %}
