{% extends 'base.html' %}
{% block title %}Descrierea avocatului{% endblock %}
{% block content %}
    <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="https://scontent.fclj1-2.fna.fbcdn.net/v/t1.6435-9/152076884_146761550614939_4193562205023149795_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeG3bJAnkVAeCfgYaYxvZPRTnwBFuDv7eyifAEW4O_t7KLwVrFiNJLZnWA2v2T1kSlKL1bK5IWIifYh7yUZlven5&_nc_ohc=97UTLm6EYa8AX9eLXjT&tn=E6RRZrJ76EEbcG99&_nc_ht=scontent.fclj1-2.fna&oh=0856ef1240f08bf51b48b13841428acc&oe=615EAEB9"
                     class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Despre mine</h5>
                    <p class="card-text">
                        {% for despre in all_despre %}
                            {{ despre.despre }}
                        {% endfor %}
                    </p>
                    {% if request.user.is_superuser %}
                        {% for despre in all_despre %}
                            <a href="{% url 'update-despre' despre.id %}" class="btn btn-success">Update secțiunea de descriere</a>
                        {% endfor %}
                        <a href="{% url 'create-app' %}" class="btn btn-primary">Creează instrucțiuni</a>
                    {% endif %}
                    <a href="{% url 'despre-app' %}" class="btn btn-info">Ce trebuie să faci</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
