{% extends 'base.html' %}
{% block title %}Update secțiunea de descriere{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-success">Update</button>
    <a href="{% url 'list-despre' %}" class="btn btn-dark">
        Cancel
    </a>
    </form>
{% endblock %}