{% extends 'base.html' %}
{% block title %}Contestă amenda{% endblock %}
{% block content %}
    <h3>Formular contestație amenda</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Solicit contestarea amenzii</button>
    </form>
{% endblock %}