{%  extends 'base.html' %}
{% block title %}Șterge contestatie amenda{% endblock %}
{% block content %}
    <p>Ești sigur că vrei să ștergi amenda cu id-ul: {{ amenda.id }} a lui: {{ amenda.extend_user }}?</p>
    <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'list_amenda' %}" class="btn btn-dark">Cancel</a>
    </form>
{% endblock %}