{% extends 'base.html' %}
{% block title %}Detalii amendă{% endblock %}
{% block content %}
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Id-ul amenzii este: {{ amenda.id }} care aparține lui:  {{ amenda.extend_user }} </div>
        <div class="card-body">
            <h5 class="card-title"> Situație de fapt: {{ amenda.situatie_fapt }}</h5>
        </div>
    </div>
{% endblock %}