{% extends 'base.html' %}
{% block title %}Lista de Contestații amenzi{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Created
            </th>
            <th>
                Fișiere trimise de client
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for amenda in all_amenzi %}
            <tr>
                <td>{{ amenda.id }}</td>
                <td>{{ amenda.extend_user }}</td>
                <td>{{ amenda.file }}</td>
                <td>
                    <a href="{% url 'update_amenda' amenda.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'delete_amenda' amenda.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail_amenda' amenda.id %}" class="btn btn-primary">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}