{%  extends 'base.html' %}
{% block title %}Autentificare{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'create-user' %}" class="btn btn-primary">Creeaza cont</a>
        <button type="submit" class="btn btn-success">Autentifica-te</button>
        <a href="{% url 'password_reset' %}" class=" btn btn-danger">Schimba parola</a>


    </form>
{% endblock %}
