{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-danger">Schimba parola</button>
    </form>
{% endblock %}

