{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h3>Vei primi instructiunile referitoare la parola resetata.</h3>
    <a href="{% url 'home' %}" class="btn btn-info">Pagina principala</a>
{% endblock %}