{% extends 'base.html' %}
{% block title %}My events list{% endblock %}
{% block content %}

    <form method="get">
        <input type="hidden" name="weeks_from_now" value="{{ weeks_from_now }}">
        <div class="d-flex justify-content-between">
            <div class="col-6">
                {% if weeks_from_now > 0 %}
                    <button type="submit" name="week" value="previous">Previous week</button>
                {% endif %}
            </div>
            <div class="col-6">
                {% if weeks_from_now < max_weeks_from_now %}
                    <button type="submit" name="week" value="next">Next week</button>
                {% endif %}
            </div>
        </div>
    </form>

    <table border="1">
        {% for row in schedule %}
            <tr>
                {% if forloop.counter0 == 0 %}
                    <td></td>

                {% endif %}
                {% for cell in row %}
                    <td>{{ cell }}</td>

                {% endfor %}
            </tr>
        {% endfor %}
        {#        <thead>#}
        {#        <th></th>#}
        {#        {% for row in schedule %}#}
        {##}
        {#            #}
        {#            <th></th>#}
        {#        {% endfor %}#}
        {##}
        {#        </thead>#}
        {#        <tbody>#}
        {#        {% for hour in hours %}#}
        {#            <tr>#}
        {#                <td>{{ hour }}</td>#}
        {#                {% for day in days %}#}
        {#                    <td>test</td>#}
        {#                {% endfor %}#}
        {#            </tr>#}
        {#        {% endfor %}#}
        {##}
        {##}
        {#        </tbody>#}
    </table>
    {#    <table border="1">#}
    {#    <thead>#}
    {#    <th></th>#}
    {#    {% for day in days %}#}
    {#        <th>{{ day.day }}<br>{{ day.month }}</th>#}
    {#    {% endfor %}#}
    {##}
    {#    </thead>#}
    {#    <tbody>#}
    {#    {% for hour in hours %}#}
    {#        <tr>#}
    {#            <td>{{ hour }}</td>#}
    {#            {% for day in days %}#}
    {#                <td>test</td>#}
    {#            {% endfor %}#}
    {#        </tr>#}
    {#    {% endfor %}#}
    {##}
    {##}
    {#    </tbody>#}
    {#</table>#}

{#    {% for programare in all_programari %}#}
{#        <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">#}
{#            <div class="card-header">{{ programare.title }}</div>#}
{#            <div class="card-body">#}
{#                <h5 class="card-title">{{ programare.start_date }}</h5>#}
{#                <p class="card-text">{{ programare.description }}#}
{#                </p>#}
{#            </div>#}
{#            <a href="{% url 'update_appointment' programare.id %}" class="btn btn-sm btn-primary">Update</a>#}
{#            <a href="{% url 'delete_appointment' programare.id %}" class="btn btn-sm btn-danger">Delete</a>#}
{#        </div>#}
{#    {% endfor %}#}
{% endblock %}