 {% extends 'base.html' %}
{% block title %}Creează programări{% endblock %}
{% block content %}
    <h3>Creează o programare</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Creează o programare</button>
    </form>
{% endblock %}

