{%  extends 'base.html' %}
{% block title %}Șterge programarea{% endblock %}
{% block content %}
    <p>Ești sigur că vrei să ștergi programarea cu id-ul: {{programare.id }} și titlul: {{ programare.title }}?</p>
    <form method="post">
        {% csrf_token %}
    <button type="button" class="btn btn-danger">Delete</button>
    <a href="{% url 'list_appointment' %}" class="btn btn-dark">Cancel</a>
    </form>
{% endblock %}
