{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    {% for programare in all_programari %}
        <div class="card text-dark bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Titlul programării: {{ programare.title }}</div>
            <div class="card-body">
                <h5 class="card-title">Începe la: {{ programare.start_date }} și se termină la: {{ programare.end_date }}</h5>
                <p class="card-text">Descrierea programării: {{ programare.description }}</p>
            </div>
        </div>
        <a href="{% url 'update_appointment' programare.id %}" class="btn btn-primary">Update</a>
        <a href="{% url 'delete_appointment' programare.id %}" class="btn btn-warning">Șterge</a>
    {% endfor %}
{% endblock %}

