{% extends 'base.html' %}
{% block title %}Update appointments{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="button" class="btn btn-success">Update</button>
    <a href="{% url 'list_appointment' %}" class="btn btn-dark" >
        Cancel
    </a>
    </form>
{% endblock %}