{% extends 'base.html' %}
{% block title %}Consultație juridică{% endblock %}
{% block content %}
    <h3>Formular pentru solicitarea unei consultații juridice</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Solicit o consultație juridică</button>
    </form>
{% endblock %}

