{%  extends 'base.html' %}
{% block title %}Șterge consultația juridică{% endblock %}
{% block content %}
    <p>Ești sigur că vrei să ștergi consultația cu id-ul: {{ consultatie.id }} a lui: {{ consultatie.extend_user }}?</p>
    <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'list_consult' %}" class="btn btn-dark">Cancel</a>
    </form>
{% endblock %}
