{% extends 'base.html' %}
{% block title %}Detaliile consultației juridice{% endblock %}
{% block content %}
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Id-ul consultației este: {{ consultatie.id }} care aparține lui: {{ consultatie.extend_user }} </div>
        <div class="card-body">
            <h5 class="card-title"> Situație de fapt: {{ consultatie.situatie_fapt }}</h5>
        </div>
    </div>
{% endblock %}