{% extends 'base.html' %}
{% block title %}Listă de consultații juridice{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Created
            </th>
            <th>
                Fișiere trimise de client
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        {% for consultatie in all_consultatii %}
            <tr>
                <td>{{ consultatie.id }}</td>
                <td>{{ consultatie.extend_user }}</td>
                <td>{{ consultatie.file }}</td>
                <td>
                    <a href="{% url 'update_consult' consultatie.id %}" class="btn btn-success">Update</a>
                    <a href="{% url 'delete_consult' consultatie.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail_consult' consultatie.id %}" class="btn btn-info">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
