<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'navbar.html' %}
<div class="container">
{% block content %}{% endblock %}
</div>
{% include 'footer.html' %}
</body>
</html>