{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
    <style>
        h1 {
            text-align: center;
            padding: 3px;
            background-color: white;
            font-size: xxx-large;
            font-family: "Ink Free", serif;
            color: black;
            text-justify: auto;
            text-effect: engrave;
        }
    </style>
    {% if user.is_authenticated %}
        <h1>Bine ai venit in comunitatea Legal Advice, {{ request.user.username }}!</h1>
    {% else %}
        <h1>Alătură-te comunității Legal Advice!</h1>
    {% endif %}
{% endblock %}