<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <title>Send Email</title>
</head>
<body>
{% if message_sent %}
    <div class="container">
        <h3><strong>Email successfully sent</strong></h3>
        <p>Your email was successfully sent!{{ form.cleaned_data.to }}</p>
    </div>
{% else %}
    <div class="container">
        <h3><strong>Send E-mail</strong></h3>

        <form method="post">
            {% csrf_token %} {{ form.as_p }}
            <br/>
            <div class="text-center">
                <input
                        type="submit"
                        class="btn btn-secondary"
                        style="width: 100%"
                        value="Send e-mail"
                />
            </div>
        </form>
    </div>
{% endif %}
<p class="text-center top_spac"> Author: <a href="mailto:alinaagachi@yahoo.ro">alinaagachi@yahoo.ro</a>
</body>
</html>