<figure class="text-center">
    <blockquote class="blockquote">
        <h1>LEGAL ADVICE</h1>
    </blockquote>
    <figcaption class="blockquote-footer">
        Sursa ta de încredere în domeniul juridic
    </figcaption>
</figure>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LEGAL ADVICE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-despre' %}">Creează Despre</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'list-despre' %}">Despre</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create_consult' %}">Solicită o consultație juridică</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'chat' %}">Chat</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Solicită o consultație juridică</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_consult' %}">Lista de consultații juridice</a>
                    </li>
                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                        <a class="nav-link" href="{% url 'create_amenda' %}">Contestă amenda</a>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Contestă amenda</a>
                    {% endif %}
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_amenda' %}">Listă de contestații amenzi</a>
                    </li>
                {% endif %}
                <li class="nav-item dropdown">
                    {% if request.user.is_superuser %}
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">Programări</a>
                    {% endif %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% if request.user.is_superuser %}
                            <li>
                            <a class="dropdown-item" href="{% url 'create_appointment' %}">Creează o programare</a>
                        {% endif %}
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% if request.user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'list_appointment' %}">Lista de programări</a>
                        {% endif %}
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'list_users' %}">Lista de utilizatori</a>
                    </li>
                {% endif %}
                {% if request.user.is_superuser %}
                    <li>
                        <a class="nav-link" href="{% url 'send_email' %}">Trimite un email</a>
                    </li>
                {% endif %}
                <li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'update_user' user.id %}">Update cont</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">Părăsește
                                contul, {{ request.user.username }}</a>
                        </li>
                    {% else %}
                        <a class="nav-link" href="{% url 'login' %}">Autentifică-te sau creează un cont</a>
                    {% endif %}

            </ul>
        </div>
    </div>
</nav>