{% extends 'base.html' %}
{% block title %}Create user{% endblock %}
{% block content %}
    <h3>Creeaza cont</h3>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Creeaza cont</button>
    </form>
{% endblock %}