{%  extends 'base.html' %}
{% block title %}Sterge utilizator{% endblock %}
{% block content %}
     <p>Esti sigur ca vrei sa stergi {{ user.id }} {{ user.username }}
     </p>
    <form method="post">
        {% csrf_token %}
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="{% url 'list_users' %}" class="btn btn-dark">Cancel</a>
    </form>
{% endblock %}

