{% extends 'base.html' %}
{% block title %}Detaliile utilizatorului{% endblock %}
{% block content %}
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">Id: {{ user.id }}, nume: {{ user.last_name }}, prenume: {{ user.first_name }} </div>
        <div class="card-body">
            <h5 class="card-title"> Data nașterii: {{ user.data_nasterii }}, numărul de telefon: {{ user.telefon }}, adresa de email: {{ user.email }}</h5>
            <p class="card-text"></p>
        </div>
    </div>
{% endblock %}