{% extends 'base.html' %}
{% block title %}Lista de utilizatori{% endblock %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Nume de utilizator
            </th>
            <th>
                Nume
            </th>
            <th>
                Prenume
            </th>
            <th>
                Email
            </th>
            <th>
                Telefon
            </th>
            <th>
                Data nașterii
            </th>
        </tr>
        </thead>
        <tbody>
        {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telefon }}</td>
                <td>{{ user.data_nasterii }}</td>
                <td>
                    <a href="{% url 'delete_user' user.id %}" class="btn btn-danger">Delete</a>
                    <a href="{% url 'detail_user' user.id %}" class="btn btn-info">Details</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
